.card {
    /* Sizing */
    height: 100%;
    width: 100%;
    
    transform-style: preserve-3d;
  
    /* Content Alignment */
  
    /* Styling */
    border-radius: 5px;
    border: 3px solid gray;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); */
    /* border-image: linear-gradient(to right, black, gray) 1; */
    user-select: none;
  }
  
  .card-front,
  .card-back {
    /* Sizing */
    height: 100%;
    width: 100%;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
    /* Alignment */
    position: absolute;
  
    /* Content Alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    text-align: center;
  
    /* Content Styling */
    /* font-family: Montserrat;
    font-size: 60px;
    color: black; */
    /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9); */
  }
  
  /* .card-front {
  } */
  
  .card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }